rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Kullanıcı dokümanlarına erişim kuralları
    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || resource.data.username == request.auth.token.name);
      allow create: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false; // Kullanıcı silme işlemi sadece admin tarafından yapılabilir
    }

    // Karakter dokümanlarına erişim kuralları
    match /characters/{characterId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    // Macera dokümanlarına erişim kuralları
    match /adventures/{adventureId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
} 