@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet Map Styles */
.leaflet-container {
  background: #162137 !important;
}

.leaflet-pane {
  z-index: 1 !important;
}

.leaflet-overlay-pane {
  z-index: 2 !important;
}

.leaflet-control {
  z-index: 3 !important;
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: #1C2B4B !important;
  color: white !important;
  border: 1px solid #2A3C5D !important;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  background-color: #2A3C5D !important;
}

.map-image {
  width: 100% !important;
  height: 100% !important;
}

@layer base {
  body {
    @apply bg-[#0B1120] text-white;
  }
}

@layer utilities {
  .font-hennyPenny {
    font-family: var(--font-henny-penny);
  }
  
  .font-risque {
    font-family: var(--font-risque);
  }
}
